<!DOCTYPE html>
<head>
<title>Honey-album for candy</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
 <link href="css/templatemo_misc.css" rel="stylesheet">

<link href="css/templatemo_style.css" rel="stylesheet">
<link href='http://fonts.useso.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>

<link href="css/upload.css" rel="stylesheet">

<script src="js/lib/jquery-1.11.1.min.js"></script>
<script src="js/lib/jquery.lightbox.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/holder.js" type="text/javascript"></script>

<script src="js/lib/moxie.js" type="text/javascript"></script>
<script src="js/lib/plupload.dev.js" type="text/javascript"></script>
<script src="js/lib/plupload.zh_CN.js" type="text/javascript"></script>
<script src="js/lib/ejs.js" type="text/javascript"></script>

<script src="js/templatemo_custom.js"></script>
<script src="js/upload.js"></script>

<script src="js/lib/qiniu.js" type="text/javascript"></script>

<script>
		function showhide()
		{
			var div = document.getElementById("newpost");
		if (div.style.display !== "none")
		{
			div.style.display = "none";
		}
		else {
			div.style.display = "block";
		}
		}
		</script>

</head>
<body>
<div class="site-header">
	<div class="main-navigation">
		<div class="responsive_menu">
			<ul>
				<li>
					<a class="show-1 templatemo_home" href="#">画廊</a>
				</li>
				<li>
					<a class="show-2 templatemo_page2" href="#">上传</a>
				</li>
			</ul>
		</div>
		<div class="container">
			<div class="row templatemo_gallerygap">
				<div class="col-md-12 responsive-menu">
					<a href="#" class="menu-toggle-btn"> <i class="fa fa-bars"></i>
					</a>
				</div>
				<!-- /.col-md-12 -->
				<div class="col-md-3 col-sm-12">
					<a href="#">
						<img src="images/templatemo_logo.jpg" alt="Honey"></a>
				</div>
				<div class="col-md-9 main_menu">
					<ul>
						<li>
							<a class="show-1 templatemo_home" href="#">
								<span class="fa fa-camera"></span>
								画廊
							</a>
						</li>
						<li>
							<a class="show-2 templatemo_page2" href="#">
								<span class="fa fa-cloud-upload"></span>
								上传
							</a>
						</li>
					</ul>
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.main-navigation -->
</div>
<!-- /.site-header -->
<div id="menu-container">
	<!-- gallery start -->
	<div class="content homepage" id="menu-1">
		<div class="container">
			<div class="row templatemorow">
				<div class="hex col-sm-6">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/1.jpg);">
									<div class="overlay text-center">
										<a href="images/gallery/1.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/2.jpg);">
									<div class="overlay">
										<a href="images/gallery/2.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/3.jpg);">
									<div class="overlay">
										<a href="images/gallery/3.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/4.jpg);">
									<div class="overlay">
										<a href="images/gallery/4.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/5.jpg);">
									<div class="overlay">
										<a href="images/gallery/5.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/6.jpg);">
									<div class="overlay">
										<a href="images/gallery/6.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/7.jpg);">
									<div class="overlay">
										<a href="images/gallery/7.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/8.jpg);">
									<div class="overlay">
										<a href="images/gallery/8.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/9.jpg);">
									<div class="overlay">
										<a href="images/gallery/9.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div  id="newpost" style="display:none;" class="container answer_list templatemo_gallerytop">
			<div class="row templatemorow">
				<div class="hex col-sm-6">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/10.jpg);">
									<div class="overlay">
										<a href="images/gallery/10.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/11.jpg);">
									<div class="overlay">
										<a href="images/gallery/11.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/12.jpg);">
									<div class="overlay">
										<a href="images/gallery/12.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/13.jpg);">
									<div class="overlay">
										<a href="images/gallery/13.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/14.jpg);">
									<div class="overlay">
										<a href="images/gallery/14.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/15.jpg);">
									<div class="overlay">
										<a href="images/gallery/15.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/16.jpg);">
									<div class="overlay">
										<a href="images/gallery/16.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/17.jpg);">
									<div class="overlay">
										<a href="images/gallery/17.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
					<div>
						<div class="hexagon hexagon2 gallery-item">
							<div class="hexagon-in1">
								<div class="hexagon-in2" style="background-image: url(images/gallery/18.jpg);">
									<div class="overlay">
										<a href="images/gallery/18.jpg" data-rel="lightbox">
											<image class="expand" src="images/fit_to_width.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="templatemo_loadmore">
					<button class="gallery_more" id="button" onClick="showhide()">加载更多</button>
				</div>
			</div>
		</div>
	</div>
	<!-- gallery end -->

	<!-- upload start -->
	<input type="hidden" id="domain" value="<%=domain%>"/>
	<input type="hidden" id="uptoken_url" value="<%=uptoken_url%>"/>
	<div id="upload-progress-template" class="hidden">
		<div id="[%=id%]" class="col-xs-6 col-md-3">										
			<a href="#" class="thumbnail progress-link" target="_blank">
				<img class="progress-image" data-src="holder.js/171x180">
				<div class="caption">
					<div class="progress-name">[%=name%]</div>
					<div class="pull-right">
						<span class="badge progress-value">0%</span>
					</div>										
				</div>	
			</a>																			
		</div>			
	</div>
	<div class="content upload" id="menu-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<button id="pickfiles" type="button" class="btn btn-primary btn-lg"> <i class="glyphicon glyphicon-plus"></i>
								<span>选择图片</span>
							</button>
							</h1>
						</div>
						<div class="panel-body">
							<div id="upload-area" class="upload-panel panel panel-default text-center">
								<h1>拖拽文件到此区域上传</h1>
							</div>
							<div class="container-fluid">
								<div id="upload-progress" class="row">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- uoload end -->
<!-- footer start -->
<div class="templatemo_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12">Copyright &copy; 2014 Honey</div>
			<div class="col-md-3 col-sm-12 templatemo_rfooter">
				<a href="#">
					<div class="hex_footer">
						<span class="fa fa-weibo"></span>
					</div>
				</a>
				<a href="#">
					<div class="hex_footer">
						<span class="fa fa-weixin"></span>
					</div>
				</a>
				<a href="#">
					<div class="hex_footer">
						<span class="fa fa-qq"></span>
					</div>
				</a>
				<a href="#">
					<div class="hex_footer">
						<span class="fa fa-html5"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- footer end -->
<script>
	$('.gallery_more').click(function(){
		var $this = $(this);
		$this.toggleClass('gallery_more');
		if($this.hasClass('gallery_more')){
			$this.text('加载更多');      
		} else {
			$this.text('加载更少');
		}
	});
		</script>
</body>
</html>